<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      throwExceptions="true">

    
  
  <targets>
    <target name="FileLog" 
            xsi:type="File"
            fileName="..\..\..\Logs\${level:upperCase=true}\${time}.json">
      <layout xsi:type="JsonLayout" EscapeForwardSlash="false">
        <attribute layout="${longdate}" name="Date"/>
        <attribute layout="${level:upperCase=true}" name="Level"/>
        <attribute layout="${mdlc:UserName}" name="UserName"/>
        <attribute layout="${message}" name="Message"/>
        <attribute layout="${exception:format=tostring,StackTrace}" name="Exception"/>
        <attribute layout="${ndlc}" name="Context"/>
        <attribute layout="${event-properties:item=Metric}" name="Alarm" encode="false"/>
      </layout>
    </target>
    <target xsi:type="Trace" name="trace" layout="${logger} ${message} ${exception:format=tostring}" />
  </targets>
  <rules>
    <logger name="*" minlevel="Trace" writeTo="FileLog"/>
  <logger name="*" minlevel="Trace" writeTo="trace" />
  </rules>
</nlog>